@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  background-color: #ffffff;
  --text-color: #000000;
  --line-color: rgb(100, 34, 34);
  --clickable-item-backgroud-color: rgb(255, 255, 255);
  --hover-background-color: rgb(100, 34, 34);
  --hover-text-color: rgb(255, 255, 255);

}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color)
}

.navigation-menu {
  display: grid;
  grid-template-columns: 3.4fr 0.55fr 1.1fr 2.9fr 2fr;
  justify-content: center;
  margin-top: 10px;
  column-gap: 25px;
  text-decoration: none;
  margin-bottom: 10px;
}

.user-info {
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.full-width-line {
  margin: 0;
  height: 3px;
  background-color: var(--line-color);
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.line-container {
  display: flex;
  justify-content: center;
}

.real-estate-list-page {
  margin-left: 150px;
  margin-right: 150px;

}

.real-estate-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.real-estate-list-item {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 2px solid #775f5f;
  border-radius: 5px;
  overflow: hidden;
}

.real-estate-image {
  height: 300px;
  background-image: url(../public/house.jpg);
  background-position: center;
  background-size: cover;
}

.real-estate-details {
  padding: 10px;
}

.real-estate-city {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.real-estate-bedrooms {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.real-estate-description {
  margin-bottom: 10px;
}

.real-estate-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.search-bar input {
  flex: 1 0 200px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.real-estate-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 768px) {
  .search-bar input {
    margin-bottom: 10px;
  }
}

.sort-btn {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sort-btn:hover {
  background-color: #3e8e41;
}

.book-meeting-btn {
  background-color: transparent;
  color: var(--line-color);
  padding: 10px 20px;
  border: 2px solid var(--line-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 600;
}

.book-meeting-btn:hover {
  background-color: var(--line-color);
  color: #fff;
}

.city-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-line-right {
  border-right: solid #583c3c;
}

.nav-link-style {
  padding: 1px 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-link-style:hover {
  background-color: #87410f;
  color: white;
}